* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #1E50D5;
    margin-bottom: 20px;
}

.login-box {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 36px;
    color: #1E50D5;
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.textbox input:focus {
    border-color: #1E50D5;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #1E50D5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #003EB3;
}