body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(227, 227, 227);
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */

    background-color: rgb(85, 84, 84);
    /* background-color: blue; */
    background-color: #1E50D5;

    padding: 10px;
}

.navbar a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    color: black;
}


.profile-info {
    font-size: 20px;
}

.profile-box {
    text-align: center;
    border-radius: 8px;

    background-color: white;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 550px;
    padding: 20px;
    margin: 50px auto;
    height: 415px;
}

.profile-icon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}